.section {
    background-color: white;
    margin-top: 10px;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    border-bottom: 2px solid rgb(203, 203, 203);
}

.section__main {
    padding: 20px;
}

.section__buttons {
    display: grid;    
    grid-template-columns: 1fr;
    justify-items: end;
}

.section__tasks {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
    padding: 20px;
    border-bottom: 2px solid rgb(203, 203, 203);
}