.section {
    background-color: white;
    margin-top: 10px;
}

.section__header {
    display: block;
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid rgb(203, 203, 203);
}

.section__main {
    padding: 20px;
}