html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
}