html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: grey;
    font-family: 'Noto Sans', sans-serif;
    word-break: break-word;
}